/* @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed') */



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-backdrop {
  /* background-color: #BBDEFB */
}

.red{  background-color: rgb(223, 52, 52);}
  .black{  background-color: black;}



  .ant-layout-content{
    color:rgb(32, 81, 91);
    /* background-color: #F4FAFA; */
    height: 100vh;
    width: 100vw;
    
  }

  .home-page{
    height: 100vh;
    width: 100vw;
   
  } 
  .home-page_form{
    padding: 2px 2px 2px 2px; 
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
  }

  .home-page_form .ant-btn {
    width: 100%;
    
    
  }

 .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
.trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 40px;
    background: rgba(255,255,255,.2);
    color:white; 
    margin: 16px;
    display: flex;
    align-content: center;
  }
  .logo h3{color: white;}

  #header-content {
    display: flex;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 230px;
    height: 150px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 16px 16px;
}

.wallet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  height: 70vh;
    
}
.wallet_topdiv {
  display: flex;
  flex-direction: column
} 
.cash{
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 20px;
}

.homediv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

 